# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=app_vite_gourmand
DB_PASSWORD=mot_de_passe

MYSQL_ROOT_PASSWORD=mot_de_passe_root

# MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=vite_et_gourmand_stats

# Envoi des e-mails
BREVO_API_KEY=votre_cle_api_brevo
MAIL_FROM=votre_email@example.com
MAIL_FROM_NAME="Vite et Gourmand"
CONTACT_EMAIL=votre_email@example.com