# Variables sensibles
.env

# Dépendances composer
/vendor/

# Logs
*.log
logs/

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.cache

# Tests temporaires
hash.php
test_password.php
hash_client.php

public/test-db.php
public/test-mongo.php
public/test-stats.php
public/test-stats-sql.php
public/test-stats-sync.php
public/test-turnover-sync.php