/* Variables générales */

:root {
    --bs-primary: #1F2A44;
    --bs-secondary: #A69F9F;
    --bs-warning: #F4C542;
    --bs-dark: #333333;

    --vg-bg: #F7F7F5;
    --vg-cta: #C85A2A;
    --vg-white: #FFFFFF;
}

/* Base du site */

body {
    min-height: 100vh;
    background-color: var(--vg-bg);
    color: var(--bs-dark);
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
    color: var(--bs-primary);
}

a {
    text-decoration: none;
}

/* Header*/

.site-header {
    background-color: var(--vg-white);
    border-bottom: 1px solid #ececec;
}

.site-header .navbar {
    background-color: var(--vg-white);
    min-height: 80px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo-header {
    height: 80px;
    width: auto;
    object-fit: contain;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: var(--bs-primary) !important;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--vg-cta) !important;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Boutons*/

.btn-primary {
    background-color: var(--vg-cta);
    border-color: var(--vg-cta);
}

.btn-primary:hover {
    background-color: #a94b23;
    border-color: #a94b23;
}

.btn-warning {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
    color: var(--bs-primary);
}

/* Footer*/

.site-footer {
    background-color: var(--bs-primary);
    color: var(--vg-white);
    font-size: 0.9rem;
}

.footer-link {
    color: var(--vg-white);
    margin: 0 0.5rem;
}

.footer-link:hover {
    color: var(--bs-warning);
}

.site-footer i {
    color: var(--vg-white);
    font-size: 1.2rem;
}

.footer-contact-link {
    color: var(--vg-white);
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-contact-link:hover {
    color: var(--bs-warning);
}

/* =========================
HERO HOME
========================= */

.hero-home {
    background-image: url('../images/home/logo-vite-gourmand.jpg');
    background-size: cover;
    background-position: center;
    min-height: 650px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.45);
    min-height: 650px;
}

.hero-content-left,
.hero-content-right {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title,
.hero-contact-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #ffffff;
}

.hero-text {
    font-size: 1rem;
    line-height: 1.7;
}

.hero-phone {
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-btn {
    width: fit-content;
    background-color: #F4C542;
    border: none;
    color: #1F2A44;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}

.hero-btn:hover {
    background-color: #ddb132;
    color: #1F2A44;
}


.hero-content-left {
    align-items: center;
    text-align: center;
}

.hero-content-left {
    min-height: 650px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content-right {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 992px) {

    .hero-home,
    .hero-overlay {
        min-height: auto;
    }

    .hero-overlay {
        padding: 4rem 0;
    }

    .hero-title,
    .hero-contact-title {
        font-size: 2.2rem;
    }

    .hero-content-left,
    .hero-content-right {
        min-height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-home {
        background-position: center;
    }
}